@import "~open-color/open-color";

.btn {
  width: 80px;
  height: 40px;
  border: solid 2px $oc-green-4;
  background: white;
  border-radius: 8px;
  color: $oc-green-6;
  font-size: 17px;
  outline: none;
}
.btn:hover {
  background: $oc-green-4;
  color: white;
}

.space-top {
  margin-top: 12px;
}

.space-left {
  margin-left: 12px;
}

.space-right {
  margin-right: 12px;
}

.pull-right {
  float: right;
}