@import "~open-color/open-color";

.div-center {
  width: 500px;
  position: absolute;
  left: 50%;
  margin-left: -250px;
}

.Login {
  position: relative;
  display: table;
  border-collapse: separate;
  margin-top: 12px;
  .loginInput {
    position: relative;
    z-index: 2;
    float: left;
    width: 430px;
    height: 43px;
    display: table-cell;
    padding-left: 10px;
    border: 1px solid #ccc;
    border-radius: 0px 4px 4px 0px;
    font-size: 16px;
  }

  .loginIcon {
    display: table-cell;
    padding: 4px 10px;
    line-height: 1;
    text-align: center;
    background: $oc-gray-2;
    border: 1px solid #ccc;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 4px 0px 0px 4px;
    border-right: 0;
  }
}